/* Container geral para app */
.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header fixo no topo */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #ecebeb; 
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

/* Logo na header */
.logo {
  display: flex;
  align-items: center;
  cursor: default;
}

.logoImg {
  height: 30px;
  width: 30px;
}

.logoText {
    padding-left: 8px;
    font-size: 13px;
}

/* Corpo da página abaixo do header */
.dashboardContainer {
  display: flex;
  flex: 1;
  margin-top: 40px; /* Espaço para header fixa */
  height: calc(100vh - 50px);
}

/* Sidebar fixa no lado esquerdo, abaixo da header */
.sidebar {
  position: fixed;
  top: 40px; /* logo abaixo do header */
  left: 0;
  height: calc(100vh - 42px); /* ocupa a altura da tela menos o header */
  background-color: #ecebeb;
  color: rgb(1, 68, 168);
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
  z-index: 999; /* abaixo do header, mas acima do conteúdo */
}

.sidebarOpen {
  width: 230px;
}

.sidebarClosed {
  width: 52px;
}

.menuButton {
  background: none;
  border: none;
  color: #0f2b60;
  font-size: 20px;
  margin-left: 0.6rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
}

.menuItems {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menuItems li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.menuItems li:hover {
  background-color: #84a4f3;
}

/* Ícones sempre visíveis */
.icon {
  font-size: 1rem;
  margin-right: 8px;
  min-width: 18px;
}
/* Ícones sempre visíveis */
.iconUser {
  font-size: 1rem;
  margin-right: 8px;
  min-width: 25px;
  border-radius:50%;
}

/* Texto do item (aparece só quando aberto) */
.itemText {
  flex: 1;
}

/* Destaque do item ativo */
.active {
  background-color: #2e53b1;
  border-left: 4px solid #009ab5;
  color: #ffffff;
}

/* Conteúdo da página */
.conteudoPagina {
  flex: 1;
  margin-top: 1px;
  margin-left: 53px;
  background-color: #ffffff;
  padding: 2px;
  overflow-y: auto;
}

.headerMenu {
  position: relative;
  margin-left: auto;
}

.headerMenuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
}

.headerDropdown {
  position: absolute;
  right: 0;
  top: 39px;
  background-color: #1a1a2e;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.headerDropdown div {
  padding: 10px 16px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerDropdown div:hover {
  background-color: #cbd0dd;
}

/* Rodapé fixo na sidebar (modo desktop) */
.sidebarFooter {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #d3cdcd;
}

.profileItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profileItem:hover {
  background-color: #cbd0dd;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0); /* fundo invisível */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.userModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 515px;
  height: 700px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}


.modalOverlayMeses {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0); /* fundo invisível */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.mesesModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 515px;
  height: 545px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}


.modalOverlayDist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 240px;
}

.modalOverlayObs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 240px;
}

  .obsModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 450px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}

.geralSenhaPjes {
  font-size:10px;
  text-align:left;
  margin-left:1px;
}

.imgUserModal {
  width:100px;
  height: 100px;
  border-radius: 50%;
  color: #dad7d7;
  object-fit: cover;
  border:1px solid #ccc;
}

.imgUserModalAlteracao {
  width:25px;
  height: 23px;
  border-radius: 50%;
  color: #dad7d7;
}

.identificacaoUser {
  margin-bottom:1rem;
  font-size: 15px;
  text-align:left;
}

.seiFuncaoTelEmail {
  text-align:left;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
}

.divSeiFuncaoTelEmail {
  display:flex; align-items:center;
}

.faSeiFuncaoTelEmail {
  margin-right:8px;
}

.hrSeiFuncaoTelEmail {
  border:none;
  border-top:1px solid #ccc;
  margin-top:2rem;
}

.imgSenhaModal {
  width:100px;
  height: 100px;
  color: #dad7d7;
  object-fit: cover;
}

.modalContainer {
  background-color: #ffffff;
  width:25%;
}

.divCodOperacaoLayout {
  width:100%;
  height: 760px;
  box-sizing: border-box;
  overflow-y: auto;
  margin-right:2px;
  animation: slideUp 0.2s ease-out;
  border: 1px solid #d3cccc;
}

/*INICIO TELA DASHBOARD*/

.logoDashboard {
  display: flex; /* ou flex, ou o que já estiver aí */
  width: 50%;
}

.spanDataBaseDashboard {
  display:flex;
  align-items:center;
  gap:9px;
}

.divConsumoWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

.divFiltro {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end; /* tudo à direita */
  width: 80%;
}

/* privateLayout.module.css */
.selectInput {
  padding: 4px 8px;
  font-size: 20px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.labelInput {
  font-weight: bold;
  font-size: 18px;
}

/* força o botão ir para a direita quando houver espaço */
.divBotaoPesquisar {
  margin-left: 0;
}


.buttonPesquisarDashboard {
    border: none;
    border-radius: 5px;
    background-color: #44a726;
    color: white;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 20px;
    width: 100px;
    height: 36px;
    margin-bottom: 9px;
  }
  
  .buttonPesquisarDashboard:hover {
    background-color: #398023;
  }


  .divItemPrincipal {
    display: flex;
    width: 100%;
  }  

  .divItem {
    display: flex;
    margin-top: 20px;
    padding-top: 5px;
    padding-left: 10px;
    width: 25%;
    height: 110px;
    border-radius: 5%;
    background: #ffffff;
    border-left: 5px solid #0a756c;
    border-bottom: 5px solid #0a756c;
  }

.divItensConsumo {
  width: 80%;
  display: block;
}

.divIconeConsumo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size:80px;
  color:#b4e8ce;

}

.labelItensConsumo {
  padding-right:3px;
  font-size:14px;
  color:#000000;
}

.spamItensConsumo {
  padding-right:10px;
  font-size: 14px;
  color: #1fad12;
}

.divGraficoWrapper {
  display: flex;
  gap: 10px;
  height: 500px;
  width: 100%;
  margin-top: 10px;
}

.divGraficoEsquerda {
  flex: 1 1 50%;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to top left, #7ebdad, #113243);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.divGrafico {
   flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* ← IMPORTANTE para permitir scroll */
  overflow: hidden;
}

.graficoContainer {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.divGraficoSecundaria {
  height:100px;
  min-height:100%;
}

.divGraficoSecundariaInterna {
  display:grid;
  place-items: center;
  height: 100%;
  min-height:350px;
}

.spanAnaliseDiretoria {
  font-size: 18px;
  border-bottom: 1px solid #e7dada;
  display: block;

}


.infoContainer {
  flex: 1;
  border-radius: 10px;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
}


.divGraficoDireita {
  flex: 1 1 25%;
  border-radius: 10px;
  padding: 7px;
  border: 1px solid #bdb9b9;
  overflow: auto; /* ← isso é essencial */
}


.tabelaDiretorias {
  margin-top: 30px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabela th,
.tabela td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.tabela th {
  background-color: #f0f0f0;
}

.tabelaFixada {
  max-height: 450px;
  position: relative;
}

.scrollTabela {
  height: 460px; /* de 380 - altura aproximada do thead */
  overflow-y: auto;
}

.tabela-zebra-ome {
  width: 100%;
  border-collapse: collapse;
}

.tabela-zebra-ome th,
.tabela-zebra-ome td {
  padding: 6px;
  font-size: 12px;
}

.tituloPagamento {
  font-size: 18px;
  border-bottom: 1px solid #e7dada;
  display: block;
}

.cardPagamento {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid #e7dada;
}

.logoContainer {
  width: 15%;
}

.logoImagem {
  border-radius: 50%;
}

.tituloH3Dashboard {
  color:#606370;
  font-size: 14px;
  align-content: center;
}

.infoContainerVerba {
  display: block;
  width: 75%;
}

.prestacao {
  font-size: 13px;
  color: #eb0808;
}

.statusPendenteCodVerba {
  font-size: 13px;
  color: #eb0808;
}

.statusPago {
  font-size: 13px;
  color: #1b910c;
}

.iconeContainer {
  border-radius: 50%;
  width: 10%;
  font-size: 30px;
  align-content: center;
}

.modalOverlayDashboard {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.modalOverlayResumoDiretoria {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0); /* fundo invisível */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.modalContentResumoDiretoria {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.tdDiretoria {
  background-color:rgba(42, 82, 91, 0.761); /* Verde */
  font-weight: bold;
  text-align: left;
  border-bottom: 3px solid #d4d3d3;
  color: #ffffff;
  height: 40px;
  padding: 8px;
}

.tituloPjes {
  padding-left: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  }

.tituloDiaria {
  padding-left: 10px;
  font-size: 20px;
  margin-top: 20px;
  }


  /* Exemplo em seu arquivo CSS/SCSS */
.statusDesativado {
  color: gray;
}

.statusDesativado {
  color: gray;
}

.logoImagemOpaca {
  opacity: 0.4;
}

/* Responsividade: empilha os elementos em telas menores */
@media (max-width: 768px) {
  .logoDashboard {
    display: none;
  }
  .tituloPjes {
    display: none;
  }

  .modalContainer {
    width:90%;
  }

  .spamItensConsumo {
  padding-right:10px;
  font-size: 11px;
  color: #1fad12;
}

  .tituloDiaria {
    display: none;
  }
   .divGraficoWrapper {
    display: block;
    height: 400px;
  }

  .labelInput {
  display: none;
  
  }

  .divGraficoEsquerda,
  .divGraficoDireita {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }

  .divFiltro {
    flex-direction: column;
    align-items: stretch; /* faz os filhos ocuparem 100% da largura */
  }

  .anoMes {
    margin: 0;

  }

  .divFiltro {
    width: 100%;
  }

  .selectInput {
    width: 100%;
    margin: 1;
  }

  .divBotaoPesquisar {
    width: 100%;
  }

  .buttonPesquisarDashboard {
    width: 100%;
  }

  .prestacao {
  font-size: 10px;
  color: #eb0808;
  }

  .statusPendenteCodVerba {
    font-size: 10px;
    color: #eb0808;
  }

  .statusPago {
    font-size: 10px;
    color: #1b910c;
  }

}


/* FIM TELA DASHBOARD*/



/*INICIO PJES*/
.divReturn {
  display: flex;
  flex-direction: column;
  font-size:12px;
  height: 100%;
  position:relative;
}

.divInterna {
  flex-grow: 1;
  height: 100%;
}

.divTetoPrincipal {
  width: 100%;
  z-index: 5;
}

.divTetoSecundaria {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.ulTeto {
  display:flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  width: 100%;
}

.liTeto {
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #d4d3d3;
  padding: 8px;
  list-style: none;
  text-align: center;
  flex: 1 1 150px;
  min-width: 150px;
}

/* Quando o item estiver selecionado */
.selected {
  font-weight: bold;
  background: #468d8d;
  color: #fff;
}

/* Quando o item NÃO estiver selecionado */
.notSelected {
  font-weight: normal;
  background: transparent;
  color: #8d8888;
}

.imageTeto {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
}

/* Quando o item estiver selecionado */
.imageSelecionada {
  opacity: 1;
  width: 60px;
  height: 60px;
}

/* Quando o item NÃO estiver selecionado */
.imageNaoSelecionada {
  opacity: 0.5;
  width: 45px;
  height: 45px;
}
.divNomeVerba {
  font-size: 11px;
}
.divDistribuicaoCotas {
  font-size:10px;
  display:flex;
  justify-content:space-between;
}

.spanDistribuicaoCotas {
  display:flex;
  align-items:center;
  gap: 4px;
}

.divDistPrincipal {
  width:100%;
  display: flex;
  padding: 8px;
  color: #000000;
  z-index: 5;
}

.divBtnCadastrarDist {
  display:flex;
  justify-content: right;
  align-items: right;
  font-size: 15px;
  margin-right: 10px;
  cursor:pointer;
}


.theadPrincipal {
  background: #050505;
  color: white;
}

.tdPadrao {
  border: 1px solid #ebe6e6;
  padding: 4px;
}


.tabelaWrapper {
  max-height: 210px; /* limite visível */
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

/* Mantém o layout da tabela intacto */
.tableDist {
  width: 100%;
  font-size: 12px;
  border: 3px solid #313131;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

/* Cabeçalho fixo */
.theadPrincipal th {
  background: #050505;
  color: white;
  border-color: #000;
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Garante quebra de palavra dentro das células */
.thPadrao,
.tdPadrao {
  border: 1px solid #ebe6e6;
  padding: 7px;
  word-break: break-word;
}


.tdComBordaExtra {
  border-bottom: 1px solid #ebe6e6;
  border-right: 3px solid #000000;
  padding: 4px;
}

.tdImagem {
  border-bottom: 1px solid #ebe6e6;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagemTabela {
  border-radius: 50%;
}

.acoesContainer {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.acaoItem {
  padding: 2px;
}

.iconeAcaoLixeira {
  cursor: pointer;
  font-size: 15px;
  color: #d81010;
}

.iconeAcaoEdicao {
  cursor: pointer;
  font-size: 15px;
  color: #ef8f08;
}

.containerInsides {
  width: 8%;
  padding-left: 10px;
}

.boxResumo {
  border: 1px solid #cac3c3;
  padding: 8px;
  border-radius: 8px;
  height: 203px;
  display: flex;
  flex-direction: column;
}

.blocoResumo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blocoComSeparador {
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.valorResumo {
  font-weight: bold;
  font-size: 20px;
}

.containerGrafico {
  width: 44%;
  padding-left: 10px;
}

.boxGrafico {
  height: 205px;
  width: 100%;
  position: relative; /* necessário para maintainAspectRatio: false */
  padding: 8px;
  border: 1px solid #d2c8c8;
  background-color: #f9f9f9;
  border-radius: 8px;
}


.distModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 400px;
  height: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}

.modalOverlayEscala {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.escalaModal {
  background-color: #fff;
  color: #000;
  display: flex;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  flex-direction: row;
  border-radius: 8px;
  width: 510px;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  position: relative;
  z-index: 3001;
  animation: slideInFromLeft 0.2s ease-out;
  overflow: hidden;
}

/* Menu lateral esquerdo */
.modalLeft {
  width: 10%;
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.modalLeftMeses {
  width: 30%;
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.modalMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalMenu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 4px;
}

.modalMenu li:hover {
  background-color: #ddd;
}

.activeMenuItem {
  background-color: #ccc;
  font-weight: bold;
}

/* Ícone dos itens */
.menuIcon {
  margin-right: 5px;
}

/* Conteúdo à direita */
.modalRight {
  flex: 1;
  padding: 3px;
  overflow-y: auto;
}

/* Conteúdo à direita */
.modalRightDist {
  flex: 1;
  padding: 1.5rem;
  background-color: #fff;
  overflow-y: auto;
}

/* Conteúdo à direita */
.modalRightEscala {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
}

/* Rodapé da coluna esquerda */
.modalFooterLeft {
  margin-top: auto;
  padding-top: 1rem;
}

.profileFooterItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
  background-color:#2e53b1;
  color:#ffffff;
}

.profileFooterItem:hover {
  background-color: #ddd;
}

.mesesFooterItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
}

.mesesFooterItem:hover {
  background-color: #ddd;
}

/* INICIO DA DIV PJES */
.customCalendar {
  border: none !important;
  width: 100% !important;
  background: #f7f4f4 !important;
  padding: 5px;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Aplique estilo global à classe do calendário ativo */
.global {
  .react-calendar__tile--active {
    background: #cbd3cc !important;
    color: rgba(108, 126, 231, 0.671) !important;
  }
}


.escalaInfo {
  font-family: sans-serif;
}

.escalaLinha {
  display: flex;
  align-items: flex-start;
  border-radius: 6px;
}

.dataColuna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 10%;
}

.divPendenteProfilePrincipal {
  justify-items:center;
  margin-top: 10px;
  width: 30%;
}

.divPendenteProfileSecundaria {
  font-size:10px;
  display:block;
  justify-items:center;
}

.divPendenteProfileTerciaria {
  font-size:10px;
  display:block;
  border-bottom:1px solid #dad3d3;
}


.divPagamentoProfileSecundaria {
  font-size:10px;
  display:block;
  justify-items:center;
  margin-top:5px;
}

.divPagamentoProfileTerciaria {
  font-size:10px;
  display:block;
}


.dia {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.mes {
  font-size: 0.9rem;
  color: #888;
  line-height: 1.2;
}

.nome {
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 2px;
  margin-left: 10px;
}

.detalhesItemCalendar {
  display:flex;
  align-content: center;
  margin-left: 3px;
  align-items: center;
}


/* FIM DA DIV PJES */


/*inicio modal novo dos meses */
.botaoVerde {
  background-color: #dddddd; /* verde */
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.botaoVerde:hover {
  background-color: #bbbcbd; /* verde mais escuro no hover */
}

.activeBotaoVerde {
  background-color: #8eaeff; /* ativo já escuro */
  font-weight: bold;
}


/*fim modal novo dos meses */

.closeModal {
  margin-top: 1rem;
  background-color: #0f3460;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.closeModal:hover {
  background-color: #16213e;
}

.tabela-zebra tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabela-zebra tbody tr:nth-child(even) {
  background-color: #ebebeb;
}


.linha-selecionada {
  background-color: #378484 !important;
  color: #ffffff;
  font-weight: bold;
}

.inputGroup {
    margin-bottom: 15px;
    width: 100%;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputPesquisar {
  width: 100%;
  padding: 10px;
  height: 42px; /* ADICIONE ISSO */
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}


/* INICIO TELA DO USUARIO */

.divPrincipal {
  height:100%; 
  display:flex;
  padding: 20px;
  flex-direction:column;
}

.divSecundaria {
  flex: 1;
  display:flex;
}

.divTituloUsuario {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
}

.divEsquerdaTelaUsuario {
  width:25%;
  box-sizing: border-box;
  overflow-y: auto;
  margin-right:2px;
}

.inputPesquisarUsuario {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

.divDireitaTelaUsuario {
  width:75%;
  box-sizing: border-box;
  margin-left: 10px;
  overflow-y:auto;
}

.usuarioCard {
  display: flex;
  align-items: center;
  padding: 5px;
  position:relative;
  cursor:pointer;
  border-bottom: 1px solid #ccc7c7;
  margin-top: 0.5rem;
}

.usuarioImagem {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.usuarioSemImagem {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
}

.usuarioSemImagemPesquisar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 3px;
  color: #ffffff;
  margin-right: 10px;
  border: 1px solid #ffffff;
}


.usuarioInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usuarioNome {
  font-weight: bold;
  font-size: 0.8rem;
}

.usuarioFuncao {
  font-size: 0.8rem;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  color: #666;
}

.iconUsuarioList {
  padding-right: 5px;
  font-size: 15px;
  color: #666;
  justify-content: center;
  align-items: center;

}

.selectedCard {
  background-color: #f0f0f0;
  border-left: 4px solid #0070f3;
}

/* Detalhes do usuário à direita para desktop */
.usuarioDetalhes {
  display: block;
}

.usuarioDetalhesMobile {
  display: none;
}

  .liusuarioDetalhes {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
  }

  .divusuarioDetalhes {
    display:flex;
    align-items:center;
    gap: 8px;
  }

 

  .modalOverlayCadUsuario {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 515px;
  padding-top: 86px;
}

.cadUsuarioModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 400px;
  height: 450px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideDown  0.3s ease-out;
  overflow: hidden;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalRightCadUsuario {
  flex: 1;
  padding: 1.5rem;
  background-color: #fff;
  overflow-y: auto;
}

.imgCadUsuario {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
}

.inputCadUsuario {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  margin: 5px;
}

.inputCadUsuarioApenasinput {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  margin: 5px;
  padding-left: 4px;
}

.botaoFooterCadUsuario {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
  background-color:#3c8114;
  color:#ffffff;
}

.botaoFooterCadUsuario:hover {
  background-color: #619c3f;
}


.usuarioEditarExcluirIcon {
  top:5;
  right:5;
  display:flex;
  font-size: 12px;
  gap:8px;
}







/* FIM TELA DO USUARIO */


.error {
    color: red;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }



/* DIVS DO SISTEMA */

/* INICIO EVENTOS */

.eventoPrincipal {
  width:30%;
  padding:5px;
  border-right: 1px solid #cfcfcf;
}

.eventoPrincipalAux {
  width:20%;
  padding:5px;
}
.eventoTitulo {
  display:flex;
  justify-content:space-between;
  padding:10px;
  height:40px;
  color:white;
  font-size:16px;
  align-items:center;
  background:#c99a00;
}

.eventoNomePrincipal {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  font-size:15px;
  flex: 1;
}

.eventoInputBuscar {
  width:90%;
  padding:6px;
  margin:10px;
  font-size:14px;
  border-radius: 25px;
  background: #ffffff;
  border: 1px solid #ccc;
}

.eventoCadastrar {
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.eventoImagemLi {
  position:relative;
  display:flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #e6e3e3;
  margin-bottom: 1px;
  
}

.eventoMenuEditarExcluir {
  position:absolute;
  top: 1px;
  right: 20px;
  cursor: pointer;
  font-size: 15px;
  color: #000000;
}

.eventoSubMenuEditarExcluir {
  position:absolute;
  top: 32px;
  right: 8px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  z-index: 100;
  min-width: 120px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.eventoImagem {
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventoTextoADireita {
  font-size:11px;
  font-weight:bold;
  color: #000000;
  height: 30px;
  border-radius: 5px;
}

.conteudoEvento {
  display:flex;
  justify-content: left;
  align-items:center;
  font-size: 11px;
  color:#6e6e6e;
}

.eventoTextoMinhaEscala {
  font-size:11px;
  padding: 5px;
  color: #000000;
  height: 180px;
  background-color:#f5f3f3;
  border-radius: 5px;
}

.eventoUl{
  padding:2px;
  height: 80px;
  font-size:12px; 
}

/* components/modal.module.css */
.modalOverlayPrestarConta {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;      /* centraliza verticalmente */
  justify-content: center;  /* centraliza horizontalmente */
  padding: 0;               /* remove o deslocamento */
}


.prestarContaModal  {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}

.modalRightPrestarConta {
  padding: 2rem;
  background-color: #fff;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  cursor: pointer;
  user-select: none;
}

.regularSelected {
  color: green;
  font-weight: bold;
}

.atrasadoSelected {
  color: red;
  font-weight: bold;
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 16px;
  align-items: center;
  width: 100%;
}

.checkboxItem {
  flex: 1;
  display: flex;
  justify-content: center;
}

.checkboxDivider {
  width: 1px;
  height: 30px;
  background-color: #000000;
  margin: 0 50px;
}


.regularSelected {
  color: green;
}

.atrasadoSelected {
  color: red;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}

.modalButtonCancelar,
.modalButtonConfirmar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modalButtonCancelar {
  background-color: #888;
  color: white;
}

.modalButtonConfirmar {
  background-color: #118a2f;
  color: white;
}

.modalButtonConfirmar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


/* INICIO OPERAÇOES */

.operacaoPrincipal {
  width: 80%;
  padding: 5px;
  border-right: 1px solid #cfcfcf;
}
.operacaoTitulo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  color: white;
  font-size: 16px;
  align-items: center;
  background: #025091;
}

.operacaoNomePrincipal {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 15px;
  flex: 1;
}

.operacaoInputBuscar {
  width: 90%;
  padding: 6px;
  margin: 10px;
  font-size: 14px;
  border-radius:25px;
  background: #ffffff;
  border:1px solid #ccc;
}

.operacaoCadastrar {
  display: flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
  margin-right:10px;
}
.operacaoImagemLi {
  background: #ffffff;
  margin-bottom:25px;
  padding-bottom: 10px;
  padding-top: 5px;
  border: 1px solid #ccc;
}
.operacaoImagem {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

.operacaoImagemSecundaria {
  display:flex;
  align-content: center;
  align-items: center;
  font-size: 14px;
}

.operacaoImagemReal {
  border-radius:50%;
  margin-left:10px;
  margin-top: 5px;
  margin-bottom:10px;
}
.operacaoBotaoAddPms {
  text-align:center;
  padding-right:12px;
  vertical-align:middle;
}

.operacaoBotaoAddPmsReal {
  color:#ffffff;
  font-weight:bold;
  font-size:15px;
  background:#0d9e0d;
  font-size:12px;
  border-radius:12px;
  padding:5px;
  margin-bottom: 5px;
}

.operacaoBotaoEditarPmsReal {
  color:#ff5e00;
  font-weight:bold;
  font-size:15px;
}

.operacaoBotaoExcluirPmsReal {
  color:#e21111;
  font-weight:bold;
  font-size:15px;
}

.operacaoBotaoPdfPmsReal {
  color:#111fe2;
  font-weight:bold;
  font-size:15px;
}

.operacaoBotaoBaixarPmsReal {
  color:#0d9e0d;
  font-weight:bold;
  font-size:15px;
}

.operacaoNomeTabela {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  height:30px;
  margin-top: 10px;
  padding-left:10px;
  padding-right:10px;
  background:#ffffff;
}

.operacaoNomeClickTabela {
  cursor:pointer;
  color:#ffffff;
  display:flex;
  align-items:center;
  width:100%;
  padding:10px;
  margin-top:2px;
  gap:10px;
}

.operacaoIconOfPrc{
  display:flex;
  align-items:center;
  gap:5px;
  color:#ffffff;
  font-size:15px;
  flex: 1;
}

.operacaoTableTh {
  padding: 8px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle; 
  line-height: 2;
}


.operacaoPaginacaoPrinciapl{
  display:flex;
  justify-content:space-between;
  padding: 10px;
  color: #969393;
  font-size: 12px;
}

.operacaoPaginacaoAnterior{
  padding:5px 10px;
  background:#025091;
  color: #fff;
  border: none;
  cursor: pointer;
}

.operacaoPaginacaoProxima{
  padding:5px 10px;
  background:#025091;
  color:#fff;
  border:none;
  cursor:pointer;
}

/* FIM OPERAÇOES */

/* INICIO TABELA DE CONSUMO E EXECUÇÃO DAS DIRETORIAS POR OME */

/* TITULO DIRETORIA */

.larguraDiretoria{
  width:100%;
  border-right:2px solid #000000;
}

.larguraDiretoriaAux{
  width:100%;
  border-right:2px solid #000000;
  height: 100%;
}

.tituloDiretoria{
  display:flex;
  justify-content: space-between;
  padding: 1px;
  margin-bottom: 30px;
  height: 3px;
  font-size: 1px;
  align-items: center;
  background: #015050;
}

.tituloConvenios{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
  height: 40px;
  font-size: 20px;
  border-bottom:1px solid #b3aeae;
  align-items: center;
}

.tituloOme{
  display:flex;
  justify-content:space-between;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.imgResumoDiretorias{
  width:30px;
  height:30px;
  border-radius: 50%;
  margin-left:10px;
}
.abasContainer {
  display: flex;
  width: 100%;
}

.aba,
.abaAtiva {
  flex: 1; /* Ocupa 50% da largura */
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  color: #aeabab;
}

.abaAtiva {
  background-color: #015050;
  color: #fff;
  padding: 8px 0; /* Altura maior para destacar */
  font-size: 1.05rem;
}



.h3TituloOme{
  font-size:15px;
  color:#015050;
}

.tituloOfePrc{
  display: flex;
  align-items:center;
  gap: 5px;
  color: #9a9c9c;
  font-size: 15px;
}

.tabela-zebra-ome {
  width: 100%;
  margin-top: 8px;
  font-size: 11px;
  border-collapse: collapse;
  text-align: center;
}

.tabela-zebra-ome thead tr {
  background-color: #009e9e;
  color: white;
}

.tabela-zebra-ome th {
  padding: 4px;
}

.tabela-zebra-ome td {
  padding: 4px;
}

.tabela-zebra-ome tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabela-zebra-ome tbody tr:nth-child(even) {
  background-color: #ebebeb;
}

.resumoPrincipalOme{
  padding-left:20px;
  padding-right:20px;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  height:20px;
}

.h3ResumoOme{
  font-size:12px; padding-top:10px; color:#015050;
}

.spanResumoOme{
  font-size:12px; color:#9a9c9c;
}

.hrResumoOme{
  padding-left:20px;
  padding-right:20px;
  border-top:1px solid #cecbcb;
}

.executadoResumoOme{
  padding-left:20px;
  padding-right:20px;
  border-top:1px solid #cecbcb;
}

.resumoSaldoOme{
  padding-left:20px;
  padding-right:20px;
  display:flex;
  margin-bottom:50px;
  justify-content:space-between;
  align-items:flex-end;
  height:20px;
}


/* INICIO TELA DE PESQUISAR */
.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.headerPesquisarEscala {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.pesquisaContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.inputFlex {
  flex: 1;
  margin-right: 0.5rem;
}

.botaoPesquisar {
  height: 42px;
  padding: 0 0.75rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoAtivo {
  background-color: #0070f3;
  cursor: pointer;
}

.botaoDesativado {
  background-color: #ccc;
  cursor: not-allowed;
}

.horarioEscala {
  width: 20px;
  color: #474747;
}

.localApresentacao {
  margin-left: 5px;
}

.detalhesContainer {
  display: flex;
  color: #6e6d6d;
}

.detalhesAnotacaoEscala {
  display: flex;
  margin-bottom: 10px;
  color: #6e6d6d;
}

.detalheTexto {
  margin-left: 5px;
}

.statusConfirmado {
  margin-left: 5px;
  color: green;
}

.statusPendente {
  margin-left: 5px;
  color: #b60b0b;
}

.usuarioLogInfo {
  display: flex;
  align-items: center;
}

.statusUsuario {
  margin-left: 5px;
}

/* FIM TELA PESQUISAR */

/* INICIO TELA PESQUISAR LISTAGEM DAS OPERAÇÃO */

.nomeOperacaoTelaPesquisar {
  margin-top: 2px;
  padding: 10px;
  display: block;
  font-size: 16px;
  color: #ffffff;
  background-color: #005bb5;

}

.usuarioLinha {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkboxAlinhado {
  transform: scale(1.5); /* Aumenta o tamanho do checkbox */
  cursor: pointer;
  margin-left: 10px; /* Garante alinhamento à direita, redundante com justify-content */
}

.alinharDireita {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}


.commentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.faComment {
  transform: scale(1.5); /* Aumenta o tamanho do checkbox */
  cursor: pointer;
  padding-left: 2px;
  margin-left: 10px; /* Garante alinhamento à direita, redundante com justify-content */
}

.usuarioCardTelaPesquisar {
  display: flex;
  align-items: center;
  padding: 5px;
  position:relative;
  background-color: #ffffff;
  cursor:pointer;
  border-bottom: 1px solid #bdb9b9;
  margin-top: 0.2rem;
}

 .divSituacaoEscala {
    display:block;
    align-items:center;
    gap: 8px;
  }

  .divAutorizacaoEscala {
    display:block;
    align-items:center;
    gap: 8px;
  }

  .usuarioSemImagemTelaPesquisar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
}





/* FIM TELA PESQUISAR LISTAGEM DAS OPERAÇÃO */





/* Opcional: animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}





/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
    margin-top: 42px;
    height: calc(100vh - 100px); /* header + bottom nav */
    
  }

  .sidebar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-top: 1px solid #d3d1d1;
  }

  .sidebarFooter {
    display: none;
  }

  .sidebarOpen,
  .sidebarClosed {
    width: 100% !important;
  }

  .menuButton {
    display: none;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menuItems li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 50px;
  }

  .icon {
  margin: 0 auto; 
  }
  

  .itemText {
    display: none;
  }

  .modalOverlay {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .modalOverlayDist {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .modalOverlayMeses {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .modalOverlayObs {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .userModal {
    width: 100%;
    height: 85%;
    border-radius: 12px 12px 0 0;
    animation: slideUp 0.2s ease-out;
  }

  .mesesModal {
    width: 100%;
    height: 80%;
    border-radius: 12px 12px 0 0;
    animation: slideUp 0.2s ease-out;
  }

  .conteudoPagina {
    margin-left: 0 !important;
    margin-bottom: 42px; /* espaço para o bottom nav */
    padding: 1rem;
    height: calc(100vh - 100px);
  }

  .active {
    border-left: none;
    background-color: #006bb3;
    width: 50px;
    border-radius: 25%;
  }

  /*INICIO CONTEUDO DO USUARIO MOBILE*/

  .divPrincipal {
    height:100%; 
    display:flex;
    padding: 1px;
    flex-direction:column;
  }

  .usuarioCard {display: block;}

  .divEsquerdaTelaUsuario {width: 100%; margin-right: 0;}

  .divDireitaTelaUsuario {
    display: none !important; 
    width: 0 !important;
    height: 0;
    overflow: hidden;
  }

  .inputPesquisarUsuario {width: 100%;}

  .usuarioImagem {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .usuarioSemImagem {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 3px;
  color: #757575;
  margin-right: 10px;
  border: 1px solid #757575;
  }

  .usuarioSemImagemPesquisar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 3px;
    color: #ffffff;
    margin-right: 10px;
    border: 1px solid #ffffff;
  }
  

  .usuarioSemImagemTelaPesquisar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 3px;
    color: #757575;
    margin-right: 10px;
    border: 1px solid #757575;
  }

  .usuarioInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .usuarioNome {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .usuarioNomePesquisarOperacao {
    font-weight: bold;
    font-size: 0.7rem;
  }

  .usuarioFuncao {
    font-size: 0.7rem;
    color: #666;
  }

  .divSecundaria {
    flex-direction: column;
  }

  .divDireitaTelaUsuario {
    display: none; 
  }

  .usuarioDetalhesMobile {
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 0.75rem;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 6px;
  }

  .liusuarioDetalhesMobile {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
  }

  .divusuarioDetalhesMobile {
    display:flex;
    align-items:center;
    gap: 8px;
  }

  .modalOverlayCadUsuario {
    padding-left: 5px;
  }

  
  /*FIM DO CONTEUDO DO USUARIO MOBILE*/


  .divItemPrincipal {
    display: block;
  }

  .divItem {
    width: 100%;
  }
  

}



@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



