/* Container geral para app */
.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header fixo no topo */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #ecebeb; 
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

/* Logo na header */
.logo {
  display: flex;
  align-items: center;
  cursor: default;
}

.logoImg {
  height: 30px;
  width: 30px;
}

.logoText {
    padding-left: 8px;
    font-size: 13px;
}

/* Corpo da página abaixo do header */
.dashboardContainer {
  display: flex;
  flex: 1;
  margin-top: 40px; /* Espaço para header fixa */
  height: calc(100vh - 50px);
}

/* Sidebar fixa no lado esquerdo, abaixo da header */
.sidebar {
  position: fixed;
  top: 40px; /* logo abaixo do header */
  left: 0;
  height: calc(100vh - 42px); /* ocupa a altura da tela menos o header */
  background-color: #ecebeb;
  color: rgb(1, 68, 168);
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 1rem;
  z-index: 999; /* abaixo do header, mas acima do conteúdo */
}

.sidebarOpen {
  width: 230px;
}

.sidebarClosed {
  width: 52px;
}

.menuButton {
  background: none;
  border: none;
  color: #0f2b60;
  font-size: 20px;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  align-self: flex-start;
}

.menuItems {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menuItems li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.menuItems li:hover {
  background-color: #84a4f3;
}

/* Ícones sempre visíveis */
.icon {
  font-size: 1rem;
  margin-right: 8px;
  min-width: 18px;
}
/* Ícones sempre visíveis */
.iconUser {
  font-size: 1rem;
  margin-right: 8px;
  min-width: 25px;
  border-radius:50%;
}

/* Texto do item (aparece só quando aberto) */
.itemText {
  flex: 1;
}

/* Destaque do item ativo */
.active {
  background-color: #2e53b1;
  border-left: 4px solid #009ab5;
  color: #ffffff;
}

/* Conteúdo da página */
.conteudoPagina {
  flex: 1;
  margin-top: 1px;
  margin-left: 53px;
  background-color: #ffffff;
  padding: 2px;
  overflow-y: auto;
}

.headerMenu {
  position: relative;
  margin-left: auto;
}

.headerMenuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
}

.headerDropdown {
  position: absolute;
  right: 0;
  top: 39px;
  background-color: #1a1a2e;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
  z-index: 2000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.headerDropdown div {
  padding: 10px 16px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerDropdown div:hover {
  background-color: #cbd0dd;
}

/* Rodapé fixo na sidebar (modo desktop) */
.sidebarFooter {
  margin-top: auto;
  width: 100%;
  border-top: 1px solid #d3cdcd;
}

.profileItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.profileItem:hover {
  background-color: #cbd0dd;
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0); /* fundo invisível */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.userModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 515px;
  height: 545px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}

.modalOverlayDist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 240px;
}

.distModal {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  width: 400px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 3001;
  animation: slideUp 0.2s ease-out;
  overflow: hidden;
}

.modalOverlayEscala {
  position: fixed;
  top: 240;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(75, 30, 30, 0);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.escalaModal {
  background-color: #fff;
  color: #000;
  display: flex;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  flex-direction: row;
  border-radius: 8px;
  width: 510px;
  border-right: 3px solid #000000;
  border-bottom: 3px solid #000000;
  position: relative;
  z-index: 3001;
  animation: slideInFromLeft 0.2s ease-out;
  overflow: hidden;
}



/* Menu lateral esquerdo */
.modalLeft {
  width: 36%;
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.modalMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalMenu li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 4px;
}

.modalMenu li:hover {
  background-color: #ddd;
}

.activeMenuItem {
  background-color: #ccc;
  font-weight: bold;
}

/* Ícone dos itens */
.menuIcon {
  margin-right: 10px;
}

/* Conteúdo à direita */
.modalRight {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

/* Conteúdo à direita */
.modalRightDist {
  flex: 1;
  padding: 1.5rem;
  background-color: #fff;
  overflow-y: auto;
}

/* Conteúdo à direita */
.modalRightEscala {
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
}

/* Rodapé da coluna esquerda */
.modalFooterLeft {
  margin-top: auto;
  padding-top: 1rem;
}

.profileFooterItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 4px;
}

.profileFooterItem:hover {
  background-color: #ddd;
}



/*inicio modal novo dos meses */
.botaoVerde {
  background-color: #dddddd; /* verde */
  color: white;
  padding: 5px 5px;
  border-radius: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
}

.botaoVerde:hover {
  background-color: #2734ae; /* verde mais escuro no hover */
}

.activeBotaoVerde {
  background-color: #2e53b1; /* ativo já escuro */
  font-weight: bold;
}


/*fim modal novo dos meses */




.closeModal {
  margin-top: 1rem;
  background-color: #0f3460;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.closeModal:hover {
  background-color: #16213e;
}



.tabela-zebra tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabela-zebra tbody tr:nth-child(even) {
  background-color: #ebebeb;
}


.linha-selecionada {
  background-color: #468d8d !important;
  color: #ebebeb;
  font-weight: bold;
}

.inputGroup {
    margin-bottom: 15px;
    width: 100%;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.error {
    color: red;
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #005bb5;
  }

/* DIVS DO SISTEMA */

/* INICIO EVENTOS */

.eventoPrincipal {
  width:20%;
  padding:5px;
  border-right: 1px solid #cfcfcf;
}
.eventoTitulo {
  display:flex;
  justify-content:space-between;
  padding:10px;
  height:40px;
  color:white;
  font-size:12px;
  align-items:center;
  background:#c99a00;
}

.eventoNomePrincipal {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  font-size:15px;
  flex: 1;
}

.eventoInputBuscar {
  width:90%;
  padding:6px;
  margin:10px;
  font-size:14px;
  border-radius: 25px;
  background: #ffffff;
  border: 1px solid #ccc;
}

.eventoCadastrar {
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.eventoImagemLi {
  position:relative;
  display:flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #e6e3e3;
  margin-bottom: 1px;
  
}

.eventoMenuEditarExcluir {
  position:absolute;
  top: 1px;
  right: 20px;
  cursor: pointer;
  font-size: 15px;
  color: #000000;
}

.eventoSubMenuEditarExcluir {
  position:absolute;
  top: 32px;
  right: 8px;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 4px;
  z-index: 100;
  min-width: 120px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.eventoImagem {
  flex-shrink: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventoTextoADireita {
  font-size:11px;
  font-weight:bold;
  color: #000000;
}



/* INICIO OPERAÇOES */

.operacaoPrincipal {
  width: 60%;
  padding: 5px;
  background: #faf8f8;
  border-right: 1px solid #cfcfcf;
}
.operacaoTitulo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  color: white;
  font-size: 12px;
  align-items: center;
  background: #025091;
}

.operacaoNomePrincipal {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 15px;
  flex: 1;
}

.operacaoInputBuscar {
  width: 90%;
  padding: 6px;
  margin: 10px;
  font-size: 14px;
  border-radius:25px;
  background: #ffffff;
  border:1px solid #ccc;
}

.operacaoCadastrar {
  display: flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
  margin-right:10px;
}
.operacaoImagemLi {
  background: #ffffff;
  margin-bottom:25px;
  border: 1px solid #ccc;
}
.operacaoImagem {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}
.operacaoImagemReal {
  border-radius:50%;
  margin-left:10px;
  margin-top: 5px;
  margin-bottom:10px;
}
.operacaoBotaoAddPms {
  text-align:center;
  padding-right:12px;
  vertical-align:middle;
}

.operacaoBotaoAddPmsReal {
  color:#ffffff;
  font-weight:bold;
  font-size:15px;
  background:#0d9e0d;
  font-size:12px;
  border-radius:12px;
  padding:5px;
}

.operacaoBotaoEditarPmsReal {
  color:#ff5e00;
  font-weight:bold;
  font-size:15px;
}

.operacaoBotaoExcluirPmsReal {
  color:#e21111;
  font-weight:bold;
  font-size:15px;
}

.operacaoBotaoPdfPmsReal {
  color:#111fe2;
  font-weight:bold;
  font-size:15px;
}

.operacaoBotaoBaixarPmsReal {
  color:#0d9e0d;
  font-weight:bold;
  font-size:15px;
}

.operacaoNomeTabela {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  height:30px;
  padding-left:10px;
  padding-right:10px;
  background:#ffffff;
}

.operacaoNomeClickTabela {
  cursor:pointer;
  color:#ffffff;
  display:flex;
  align-items:center;
  width:100%;
  padding:10px;
  margin-top:2px;
  gap:10px;
}

.operacaoIconOfPrc{
  display:flex;
  align-items:center;
  gap:5px;
  color:#ffffff;
  font-size:15px;
  flex: 1;
}

.operacaoTableTh{
  border:1px solid #555;
  padding:10px;
  text-align:center;
  vertical-align:middle;
}

.operacaoPaginacaoPrinciapl{
  display:flex;
  justify-content:space-between;
  padding: 10px;
  color: #969393;
  font-size: 12px;
}

.operacaoPaginacaoAnterior{
  padding:5px 10px;
  background:#025091;
  color: #fff;
  border: none;
  cursor: pointer;
}

.operacaoPaginacaoProxima{
  padding:5px 10px;
  background:#025091;
  color:#fff;
  border:none;
  cursor:pointer;
}

/* FIM OPERAÇOES */

/* INICIO TABELA DE CONSUMO E EXECUÇÃO DAS DIRETORIAS POR OME */

/* TITULO DIRETORIA */

.larguraDiretoria{
  width:20%;
  padding: 5px;
  border-right:2px solid #000000;
}

.tituloDiretoria{
  display:flex;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
  color: white;
  font-size: 12px;
  align-items: center;
  background: #015050;
}

.tituloOme{
  display:flex;
  justify-content:space-between;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.h3TituloOme{
  font-size:15px;
  color:#015050;
}

.tituloOfePrc{
  display: flex;
  align-items:center;
  gap: 5px;
  color: #9a9c9c;
  font-size: 15px;
}

.tabela-zebra-ome {
  width: 100%;
  margin-top: 8px;
  font-size: 11px;
  border-collapse: collapse;
  text-align: center;
}

.tabela-zebra-ome thead tr {
  background-color: #009e9e;
  color: white;
}

.tabela-zebra-ome th {
  padding: 4px;
}

.tabela-zebra-ome td {
  padding: 4px;
}

.tabela-zebra-ome tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabela-zebra-ome tbody tr:nth-child(even) {
  background-color: #ebebeb;
}

.resumoPrincipalOme{
  padding-left:20px;
  padding-right:20px;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  height:30px;
}

.h3ResumoOme{
  font-size:12px; padding-top:10px; color:#015050;
}

.spanResumoOme{
  font-size:12px; color:#9a9c9c;
}

.hrResumoOme{
  padding-left:20px;
  padding-right:20px;
  border-top:1px solid #cecbcb;
}

.executadoResumoOme{
  padding-left:20px;
  padding-right:20px;
  border-top:1px solid #cecbcb;
}

.resumoSaldoOme{
  padding-left:20px;
  padding-right:20px;
  display:flex;
  margin-bottom:50px;
  justify-content:space-between;
  align-items:flex-end;
  height:30px;
}


/* Opcional: animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}





/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .dashboardContainer {
    flex-direction: column;
    margin-top: 42px;
    height: calc(100vh - 100px); /* header + bottom nav */
  }

  .sidebar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-top: 1px solid #d3d1d1;
  }

  .sidebarFooter {
    display: none;
  }

  .sidebarOpen,
  .sidebarClosed {
    width: 100% !important;
  }

  .menuButton {
    display: none;
  }

  .menuItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .menuItems li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    width: 50px;
  }

  .icon {
  margin: 0 auto;
}
  

  .itemText {
    display: none;
  }

  .modalOverlay {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .modalOverlayDist {
    justify-content: center;
    align-items: flex-end;
    padding-left: 0;
    padding-bottom: 0;
  }

  .userModal {
    width: 100%;
    height: 80%;
    border-radius: 12px 12px 0 0;
    animation: slideUp 0.2s ease-out;
  }

  .conteudoPagina {
    margin-left: 0 !important;
    margin-bottom: 42px; /* espaço para o bottom nav */
    padding: 1rem;
    height: calc(100vh - 100px);
  }

  .active {
    border-left: none;
    background-color: #006bb3;
    width: 50px;
    border-radius: 25%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



